project:
  type: website
  # resources:
  #   - "images/twitter-card.png"
  #   - "course-materials/_slides/"
    
website:
  page-navigation: true
  title: "NHS R Reporting"
  description: "R Reporting"
  # date: now
  favicon: assets/favicon/favicon.ico
  repo-url: https://github.com/nhsengland/nhs-r-reporting
  repo-actions: [issue]

  # opengraph: true
  # twitter-card:
  #   creator: "@minebocek"
  #   image: "/images/twitter-card.png"

  page-footer:
    left: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    background: "#005eb8"
    right:
    - text: "License"
      href: https://github.com/nhsengland/nhs-r-reporting/blob/main/LICENSE
    - text: "Code of Conduct"
      href: https://github.com/nhsengland/nhs-r-reporting/blob/main/CODE_OF_CONDUCT.md

  navbar:
    background: "#005eb8"
    # logo: assets/logos/logo-nhs-300.png
    # align: center
    title: "NHS England R Reporting"
    collapse-below: lg
 
    right:
      - icon: github
        href: https://github.com/nhsengland/nhs-r-reporting
        aria-label: GitHub
      - icon: cloud-fill
        href: https://future.nhs.uk/NHSERcommunity
        aria-label: NHS England R Community

  sidebar:
    - id: nav
      style: "floating"
      collapse-level: 3
      align: left
      contents:
        - section: "Getting Started"
          contents:
            - text: "Introduction" 
              file: index.qmd
            - text: "NHS Style Guide" 
              file: 1.0-nhs-style-guide.qmd
            - text: "NHS Colours" 
              file: 1.1-nhs-colours.qmd
            - text: "Contribute to this site"
              file: 1.5-contribute.qmd
        - section: "Tools"
          contents:
            - text: "R-Language"
              file: 1.2-r-language.qmd
            - text: "National Data Platform (UDAL)"
              file: 1.3-udal.qmd
            - text: "NHS England GitHub"
              file: 1.4-github.qmd
        - section: "Analysis"
          contents:
            - text: "Visualisations"
              file: 2.1-visualisation.qmd
            - text: "Tables"
              file: 2.2-tables.qmd
            - text: "Statistics"
              file: 2.3-statistics.qmd
            - text: "Methods"
              file: 2.4-methods.qmd
        - section: "Data & Code"
          contents:
            - text: "Reproducible Analytical Pipelines"
              file: 3.1-reproducible-analytical-pipelines.qmd
            - text: "Coding Best Practices"
              file: 3.2-best-practice.qmd
format:
  html:
    theme:
      light: [cosmo]
    toc: true
    code-copy: true
    code-overflow: wrap
    # mainfont: "Atkinson Hyperlegible"
    include-in-header: "assets/style/fontawesome.html"

freeze: auto

editor: visual
